aiohttp_cors==0.7.0
black==22.3.0
coverage>=6.0.2
flake8==4.0.1
homeassistant
isort==5.10.1
mypy==0.942
pre-commit==2.18.1
pylint==2.13.4
pytest-cov>=2.12.1
pytest-homeassistant-custom-component==0.8.6
pytest
zadnegoale==0.6.2
