
aiohttp_cors==0.7.0
black==22.6.0
coverage==6.4.2
flake8==5.0.1
homeassistant
isort==5.10.1
mypy==0.971
pydocstyle==6.1.1
pylint==2.14.5
pytest==7.1.2
pytest-cov==3.0.0
pytest-homeassistant-custom-component==0.11.6
zadnegoale==0.6.4
